{% from 'translations.j2' import render_translations %}
{% from 'utils.j2' import link, tag, user %}

{% macro render_article_metadata(article) %}
  {%- if article.type == "goi-format" -%}
    GoI: {{ tag(article.goi[0], article.goi[1]) }} {{- '\n' }}
  {%- endif %}

  {%- if article.co_authors -%}
  Written with: {% for author in article.co_authors -%}{{ user(author) }}{% if not loop.last %}, {% endif %}{% endfor %} {{- '\n' }}
  {%- endif %}

  {%- if article.contest -%}
    For: {{ link(article.contest[0], article.contest[1]) }} {{- '\n' }}
  {%- endif %}
{% endmacro %}

{% macro render_article(article) %}
[[div class="blockquote"]]
[[module ListPages name="{{ article.slug }}" limit="1"]]
[[span class="page-header"]]
{%- if article.title_override -%}
  {{ article.title_override }}
{%- else -%}
  **{{ link(article.slug, article.name, article.normal_slug) }}**
  {%- if article.title -%}
    : {{ article.title }}
  {%- endif %}
{%- endif -%}
{{ ' ' -}} (##green|+%%rating%%##) (%%comments%% 💬)[[/span]]
{{ render_article_metadata(article) }}
{% if article.snippet %}
[[div class="blockquote"]]
{{ article.snippet }}
[[/div]]

{% endif %}
----
[[div class="page-stats"]]
Written: {{ '{{%%created_at%%}}' }}
Last Edited: {{ '{{%%updated_at%%}}' }} by %%updated_by%%
Last Commented: {{ '{{%%commented_at%%}}' }} by %%commented_by%%
Tags: {{ '{{%%tags%%}}' }} {{ '{{%%_tags%%}}' }}
{{ render_translations(article.translations) }}
[[/div]]
[[/module]]
[[/div]]
{% endmacro %}
