{% macro render_translations(translations) -%}
  {%- for translation in translations -%}
    [{{ translation.url }} {{ translation.language_code }}]{% if not loop.last %}, {% endif %}
  {%- endfor -%}
{% endmacro %}
