{% macro render_translations(translations) -%}
    {%- if translations -%}
        Translations: {{- ' ' }}
        {%- for translation in translations -%}
            [{{ translation.url }} {{ translation.language_code }}]{% if not loop.last %}, {% endif %}
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}
